.titleContainer {
  margin-left: 150px;
  margin-top: 30vh;
}

.glitchName {
  position: relative;
  margin-left: 90px;
}

.hiText {
  position: relative;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 25px;
  top: 110px;
  opacity: 0.9;
}

.imAText {
  position: relative;
  font-weight: 100;
  font-family: "EB Garamond", serif;
  font-size: 25px;
  opacity: 0.9;
}

.email {
  position: relative;
  top: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  padding: 5px 40px;
  font-weight: 100;
  border-bottom: 2px solid black;
  color: black;
}

.email::after {
  position: absolute;
  content: "";
  background: rgb(22, 22, 22);
  z-index: -1;
  height: 0;
  left: 0;
  bottom: 0;
  width: 100%;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.email:hover {
  color: white;
}

.email:hover:after {
  color: white;
  height: 100%;
}
