.glitchContainer {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  display: inline-block;
  font-size: 100px;
}

.colour {
  position: relative;
  mix-blend-mode: darken;
  color: transparent;
}

.pink {
  text-shadow: 0 0 1.5px #ff20ff;
}

.yellow {
  position: absolute;
  left: 0;
  text-shadow: 0 0 1.5px #feff1f;
  animation: yellowAnimation 6s infinite;
}

.blue {
  position: absolute;
  left: 0;

  text-shadow: 0 0 1.5px #20ffff;
  animation: blueAnimation 6s infinite;
}

@keyframes blueAnimation {
  0% {
    transform: translate(-2.5px, -2.5px);
  }
  65% {
    transform: translate(-2.5px, -2.5px);
  }
  69% {
    transform: translate(2.5px, 2.5px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  73% {
    transform: translate(0px, 0px);
  }
  74% {
    transform: translate(-2.5px, -2.5px);
  }
  100% {
    transform: translate(-2.5px, -2.5px);
  }
}

@keyframes yellowAnimation {
  0% {
    transform: translate(2.5px, 2.5px);
  }
  65% {
    transform: translate(2.5px, 2.5px);
  }
  69% {
    transform: translate(-2.5px, -2.5px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  73% {
    transform: translate(0px, 0px);
  }
  74% {
    transform: translate(2.5px, 2.5px);
  }
  100% {
    transform: translate(2.5px, 2.5px);
  }
}
